@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body{
    display: flex;
    /*justify-content: center;*/
    align-items:center;
    flex-direction: column;
    width:95%;
    height:95%;
}
.abril{
    font-family:'Abril Fatface';
    font-size:90%;
}
    .abril_title{
        font-size:80%;
    }
.color--white{
    color:#ffff;
}
.table{
    display: flex;
    width:100%;
    height:100%;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background: url('../img/pokerTable.jpg') no-repeat center top;
    background-size: contain;
}
.ace{
    display:flex;
    justify-self: center;
    width:5%;
    height:auto;
    transition-property: width;
    transition-duration: 1s;
    height:auto;
}
.ace:hover{
    width:8%;
}
.row{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.form{
    width:20%;
    display:none;
    flex-direction:column;
}
select{
    height:70%;
}
.player1{
    width:7%;
    height:14%;
    display:flex;
    flex-direction: row;
    align-content:center;
    justify-content: space-around;
    margin:10px;
    font-family:'Abril Fatface';
    font-size: 1em;
}
.winner{
    display:flex;
    width:100%;
    font-family:'Abril Fatface';
    align-items:center;
    justify-content: center;
    font-size:2em;

}
p{
    margin:5px;
}
@media only screen and (max-width: 600px) {
.table{
    display:flex;
    align-items:center;
    width:95%;
    height:20%;
}
.form{
    width:50%;
}
select{
    height:50%;
}
.player1{
    font-size:0.5em;
}
.winner{
    margin-top:10px;
    width:100%;
    font-family:'Abril Fatface';
    justify-content:center;
    font-size:0.5em;
    align-content: center;
}
}